.hero {
  position: relative;
  background-color: #F9F9F9;
  min-height: 500px;
}
.hero * {
  max-width: 600px;
}
.hero .discription {
  margin-left: 40%;
  height: 200px;
  align-self: center;
}
.hero .hero-count {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 100px;
  width: 100px;
}
.hero .hero-count #hero-count {
  font-size: 42px;
  color: #03A543;
}
.hero .hero-count #hero-amount {
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero .hero-arrows {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}

.outstand {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.outstand > * {
  background-color: #F9F9F9;
}
.outstand p:nth-of-type(1) {
  font-size: 100px;
}
@media (max-width: 400px) {
  .outstand {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about h1 {
  max-width: 1000px;
}
.about p {
  max-width: 500px;
}
.about a {
  text-wrap: nowrap;
}

.product-categories > * {
  background-color: #F9F9F9;
}
.product-categories .product-category {
  max-width: 300px;
  text-wrap: nowrap;
}
.product-categories .product-category .category-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 100px;
  align-items: center;
}
.product-categories .product-category .category-label h3 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 1.5rem;
}
.product-categories .product-category .category-label a {
  transform: rotate(90deg);
  padding: 1.5rem;
}
.product-categories .product-category[opened] .category-label {
  height: auto;
  flex-direction: row;
  background-color: #03A543;
}
.product-categories .product-category[opened] .category-label h3 {
  writing-mode: unset;
  transform: rotate(0deg);
}
.product-categories .product-category[opened] .category-label a {
  transform: rotate(0deg);
}
.product-categories .product-category[opened] .category-content {
  display: block;
}
.product-categories .category-content {
  display: none;
}
.product-categories .category-content ul {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  max-width: 70%;
}
.product-categories .category-content img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 400px) {
  .product-categories {
    flex-direction: column;
  }
  .product-categories .product-category .category-label {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }
  .product-categories .product-category .category-label h3 {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    padding: 1.5rem;
  }
  .product-categories .product-category .category-label a {
    transform: rotate(0deg);
    padding: 1.5rem;
  }
}

.portfolio {
  margin-top: 1rem;
}
.portfolio .portfolio-item {
  display: flex;
  min-width: 500px;
  height: 300px;
  background-image: url("/img/home/portfolio.png");
  background-size: cover;
  border-radius: 0.5rem;
}
.portfolio .portfolio-item .portfolio-text-block {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 3rem 0 3rem 1rem;
  padding: 1rem 5rem 1rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
.portfolio .portfolio-item .portfolio-text-block h3 {
  max-width: 20ch;
}
.portfolio .portfolio-item .portfolio-text-block a {
  margin-top: auto;
}
@media (max-width: 400px) {
  .portfolio {
    min-width: 250px;
  }
  .portfolio .portfolio-text-block {
    margin: 9rem 1rem 1rem 1rem;
  }
}

.home-news {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 2rem;
}
.home-news p {
  max-width: 500px;
}
.home-news :nth-child(1) {
  grid-row: span 3;
}
.home-news :nth-child(n+2) p {
  max-width: 400px;
}
.home-news :nth-child(n+2) h3 {
  max-width: 400px;
}
@media (max-width: 800px) {
  .home-news {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=home.css.map */