@import 'variables';

.video-preview {

    img {
        width: 100%;
    }
}

.offer {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;

    :first-child {
        grid-row: span 3;
    }

    @media (max-width: $screen-size-m) {
        grid-template-columns: 1fr;
    }
}

.suggestion {
    display: flex;
}

.contact-form-wrapper {
    background-color: $color-black;
    margin-top: 2rem;
}

.contact-form {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    text-wrap: wrap;


    :first-child>* {
        color: white;
        max-width: 90%;
    }

    :first-child {
        grid-row: span 4;
        grid-column: span 2;
    }

    :nth-child(n+6) {
        grid-column: span 2;
    }

    a {
        color: green;
    }



    @media (max-width: $screen-size-m) {
        grid-template-columns: repeat(2, 1fr);

        :first-child {
            grid-row: span 1;
            grid-column: span 2;
        }

        :nth-child(n+6) {
            grid-column: span 2;
        }
    }

    @media (max-width: $screen-size-s) {
        grid-template-columns: 1fr;

        :first-child {
            grid-row: span 1;
            grid-column: span 1;
        }

        :nth-child(n+6) {
            grid-column: span 1;
        }
    }
}