@import 'variables';

.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;

    li {
        display: flex;
        justify-content: space-between;
    }

    .filters {
        grid-row: span 2;

        a {
            display: block;
        }
    }

    .items {
        grid-column: 2/5;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .switch {
        grid-column: span 3;

        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
        }
    }

    @media (max-width: $screen-size-m) {
        grid-template-columns: 1fr;


        .filters,
        .sort,
        .show,
        .download,
        .display {
            display: none;
        }

        .items {
            grid-column: 1;
            grid-template-columns: 1fr 1fr;
        }

        .switch {
            grid-column: 1;
        }
    }

    @media (max-width: $screen-size-s) {
        .items {
            grid-template-columns: 1fr;
        }
    }
}

[catalog-section] {
    padding-left: 1rem;
}