@import 'variables.scss';


.hero {
    position: relative;
    background-color: $color-light-gray;
    min-height: 500px;

    * {
        max-width: 600px;
    }

    .discription {
        margin-left: 40%;
        height: 200px;
        align-self: center;
    }


    .hero-count {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 100px;
        width: 100px;

        #hero-count {
            font-size: 42px;
            color: #03A543;
        }

        #hero-amount {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .hero-arrows {
        position: absolute;
        right: 4rem;
        bottom: 4rem;
    }
}






.outstand {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;

    >* {
        background-color: $color-light-gray; // если переменная определена в CSS, иначе используйте $color-light-gray
    }

    p:nth-of-type(1) {
        font-size: 100px;
    }

    @media (max-width: $screen-size-s) {
        grid-template-columns: 1fr;

        text-align: center;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    h1 {
        max-width: 1000px;
    }

    p {
        max-width: 500px;
    }

    a {
        text-wrap: nowrap;
    }
}


.product-categories {
    >* {
        background-color: $color-light-gray;
    }


    .product-category {
        max-width: 300px;
        text-wrap: nowrap;

        .category-label {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            min-width: 100px;
            align-items: center;

            h3 {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                padding: 1.5rem;
            }

            a {
                transform: rotate(90deg);
                padding: 1.5rem;
            }
        }
    }

    .product-category[opened] {
        .category-label {
            height: auto;
            flex-direction: row;
            background-color: $color-green;

            h3 {
                writing-mode: unset;
                transform: rotate(0deg);
            }

            a {
                transform: rotate(0deg);
            }
        }

        .category-content {
            display: block;
        }
    }

    .category-content {
        display: none;


        ul {
            display: flex;
            gap: 0.3rem;
            flex-wrap: wrap;
            max-width: 70%;
        }

        img {
            height: 150px;
            object-fit: cover;
        }
    }



    @media (max-width: $screen-size-s) {
        flex-direction: column;

        .product-category {
            .category-label {
                flex-direction: row;
                justify-content: space-between;
                height: 100%;

                h3 {
                    writing-mode: horizontal-tb;
                    transform: rotate(0deg);
                    padding: 1.5rem;
                }

                a {
                    transform: rotate(0deg);
                    padding: 1.5rem;
                }
            }
        }
    }
}

.portfolio {
    margin-top: 1rem;

    .portfolio-item {
        display: flex;
        min-width: 500px;
        height: 300px;
        background-image: url("/img/home/portfolio.png");
        background-size: cover;
        border-radius: .5rem;

        .portfolio-text-block {
            display: flex;
            flex-direction: column;
            max-width: 200px;
            margin: 3rem 0 3rem 1rem;
            padding: 1rem 5rem 1rem 1rem;
            background-color: white;
            border-radius: .5rem;

            h3 {
                max-width: 20ch;
            }

            a {
                margin-top: auto;
            }
        }
    }

    @media (max-width: $screen-size-s) {
        min-width: 250px;

        .portfolio-text-block {
            margin: 9rem 1rem 1rem 1rem;
        }
    }
}


.home-news {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 2rem;

    p {
        max-width: 500px;
    }

    :nth-child(1) {
        grid-row: span 3;
    }

    :nth-child(n+2) {
        p {
            max-width: 400px;
        }

        h3 {
            max-width: 400px;
        }
    }

    @media (max-width: $screen-size-m) {
        grid-template-columns: 1fr;
    }
}