.about-company-video-preview{
    
    img{
        width: 100%;
    }
}

.we-offer{
    display: grid;
    grid-template-columns: 1fr 1fr;

    :first-child{
        grid-row: span 3;
    }
}

.suggestion{
    display: flex;
}

.about-contact-form-wrapper{
    background-color: var(--color-black);
}
.about-contact-form-holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    :first-child > * {
        color: white;
        max-width: 90%;
    }
}

.about-contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;

    :nth-child(n+5){
        grid-column: span 2;
    }
    a{
        color: green;
    }
}