
.catalog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;

    li{
        display: flex;
        justify-content: space-between;
    }

    .filters{
        grid-row: span 2;
    }
    .items{
        grid-column: 2/5;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    .switch{
        grid-column: span 3;

        display: flex;
        justify-content: space-between;

        ul{
            display: flex;
        }
    }
}

